<section id="about">
    <h2>About Me</h2>
    <p>I am a passionate .NET Full Stack Developer with a strong focus on frontend development. With hands-on experience in HTML, CSS, SCSS, JavaScript, Angular, and TypeScript, I specialize in building intuitive and responsive user interfaces. My expertise lies in creating clean, maintainable, and efficient frontend architectures for web applications.

      In addition to my frontend skills, I have a working knowledge of .NET, SQL Server Management Studio (SSMS), and API development. This enables me to collaborate effectively on backend tasks, ensuring seamless integration between the frontend and backend systems.
      
      I thrive in dynamic environments where I can learn and adapt quickly while contributing to delivering high-quality software solutions. My goal is to continue growing as a developer, expanding my skills across the full stack and building impactful applications that enhance user experiences.
      
      
      
      
      
      
      </p>
      <h2>Skills</h2>
      <ul>
        <li>Html</li>
        <li>CSS</li>
        <li>SCSS</li>
        <li>Angular</li>
        <li>JavaScript</li>
        <li>API integration</li>
        <li>.NET Core</li>
        <li>.NET</li>
      </ul>

      <h2>Tools</h2>
      <ul>
        <li>Visual studio 2019 and 2022</li>
        <li>VS Code</li>
        <li>Git</li>
        <li>JIRA</li>
        <li>SSMS</li>
      </ul>


  </section>
  
